html, body {
    width: 100%;
}
html {
    position: relative;
    padding-bottom: 50px;
    font-size: 14px;
    /*height: 100%;*/
    min-height: 100%;
}
body {
    font-family: "Microsoft Yahei", Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background: #fff;
    background-size: cover;
    min-height: 100%;
}
/*左侧动画*/
.index-content{
  margin-left: 0px;
  overflow-x: hidden;
  transition: margin-left 0.2s ease;
  -moz-transition: margin-left 0.2s ease;
  -webkit-transition: margin-left 0.2s ease;
  -o-transition: margin-left 0.2s ease;
}

.index-content.content-hidel{
  margin-left: 378px;
}
h1,h2,h3,h4,h5{
    padding: 0;
    margin: 0;
}
a{
    cursor: pointer;
    color: #0c81f8;
}
a:hover, a:focus {
    color: #000;
    text-decoration: none;
}
/*a:active {*/
    /*color: #000;*/
    /*text-decoration: none;*/
/*}*/
ul, ol {
    padding: 0;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}
.mb-30{
    margin-bottom: 30px;
}
/*按钮*/
.btn-reset{
    padding: 0px 18px;
    border: 1px solid #0c81f8;
    background-color: #fff;
    color: #0c81f8;
    /*兼容（ie）*/
    /*width: 70px;*/
}
.btn-reset1{
    padding: 0px 18px;
    border: 1px solid #5A98DE;
    color: #5A98DE;
    background-color: #fff;
}
.btn-reset1:hover{
  border: 1px solid #3448A1;
  color: #3448A1;
}
.btn-search{
    padding: 0px 18px;
    border: 1px solid #5A98DE;
    background-color: #5A98DE;
    color: #fff;
    /*兼容（ie）*/
    /*width: 70px;*/
}
.btn-search:hover{
  border: 1px solid #3448A1;
  background-color: #3448A1;
  color: #fff;
}
/*按钮 end*/
.col-12 {
  padding: 0;
}

/*弹窗背景色*/
.modal-content{

}
/*模态框里面的 x*/
.modal-header button.close{
    margin: 0px 8px;
    opacity: 1;
    text-shadow: none;
}
/*模态框样式--左右对齐*/
.form-horizontal .control-label {
  padding-top: 0 !important;
}
/*弹窗背景色 end*/

/*header*/
.navbar-box{
   height: 150px;
}
.navbar-box:after{
    position: fixed;
    content: ' ';
    width: 100%;
    height: 130px;
    background-color:  #f4f4f4;
    z-index: 100;
}
.navbar {
    position: fixed;
    margin: 0 auto;
    top: 10px;
    left:0;
    right: 0;
    width: 100%;
    height: 120px;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 0px;
    background: url("../img/top-nav.jpg") no-repeat;
    background-size: cover;
    z-index: 1001;
    overflow: hidden;
}

.navbar .header-top-border{
    margin-bottom: 10px;
    width: 100%;
    height: 8px;
    /*background-image: url("../img/head-border.png");*/
    /*background-size: 100% 8px;*/
}
.navbar .header-l{
    margin-left: 1.5%;
}
.navbar .lw-title{
    margin: 8px 0 0 20px;
}
.navbar .header-l img{
    margin-top: 11px;
    width: 58px;
}
.navbar .lw-title h1{
    font-size: 30px;
    color: #fff;
    line-height: 42px;
}
.navbar .lw-title span{
    font-size: 16px;
    color: #fff;
    line-height: 14px;
}
.navbar .header-r{
    margin-right: 1.5%;
    color: #fff;
}
.navbar .header-r .lw-time{
    font-size: 40px;
    color:  #fff;
    line-height: 70px;
}
.navbar .header-r span.user-name{
    color: #fff;
}

.navbar .header-r a{
    color: #666;
}
.navbar .header-r a.zairrt-nav{
  color: #fec370;
  font-weight: bold;
}
.zairrt {
  color: #fff;
}
.zairrt .user-out{
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url("../img/user-out.png") no-repeat;
  vertical-align: bottom;
  margin-bottom: 4px;
}
/*header end*/

/* 左侧导航
=================================================================== */
.sidebar {
    position: fixed;
    top: 150px;
    left: -376px;
    height: 100%;
    width: 378px;
    z-index: 1002;
    background-color: rgb(90,152,222);
    border: 1px solid #49555d;
    border-radius: 6px;
    transition: left 0.2s ease;
    -moz-transition: left 0.2s ease;
    -webkit-transition: left 0.2s ease;
    -o-transition: left 0.2s ease;
}
.sidebar .navbar-actions {
    position: absolute;
    top: 50%;
    right: -15px;
    margin-top: -35px;
    font-size: 20px;
}
.sidebar .navbar-actions a {
    color: #c8c8c8;
    border-left: none;
}
.sidebar .navbar-actions .open-close-menu {
    display: inline-block;
    border: none !important;
    width: 14px;
    height: 69px;
}
.sidebar.sidebar-hidel{
    left: 1%;
}
/*------------------------------------------*/
.sidebar .open-close-menu{
    background: url("../img/nav_arrow.png") 0 -69px no-repeat;
}
.sidebar.sidebar-hidel .open-close-menu{
    background: url("../img/nav_arrow.png") 0 0 no-repeat;
}

.sidebar .sidebar-collapse{
    position: relative;
}

.sidebar a{
    color: #fff;
}
.sidebar .sidebar-header {
    height: 60px;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    background: #192833;
}
.sidebar .sidebar-over-hidden{
    width: 344px;
    margin-left: 15px;
    overflow: hidden;
}
.sidebar .sidebar-menu {
    overflow-x: hidden;
    overflow-y: auto;
    width: 376px;
}
.sidebar-menu .bk-avatar{
    padding: 20px;
    text-align: center;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
    border-color: #004781;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
.sidebar ul.nav.nav-sidebar {
    margin: 0;
    padding: 23px 0;
    width: 100%;
}
.sidebar ul.nav.nav-sidebar li:hover {
    color: #fff;
}
.sidebar ul.nav.nav-sidebar li.active,
.sidebar ul.nav.nav-sidebar ul.active a,
.sidebar ul.nav.nav-sidebar li.active a,
.sidebar ul.nav.nav-sidebar ul>ul{
    display: block;
}
.sidebar ul.nav.nav-sidebar ul.opened>ul{
    display: block;
}
.sidebar ul.nav.nav-sidebar li a.active {
    background: none;
    color: #fff;
}
.sidebar ul.nav.nav-sidebar li a:hover {
   background-color: #56678a;
    color: #fff;
}
.sidebar ul.nav.nav-sidebar > li > a {
    padding: 15px 25px;
}
.sidebar ul.nav.nav-sidebar > li > a:hover, ul.nav-sidebar > li > a:focus {
    background-color: transparent;
}

.sidebar ul.nav.nav-sidebar li span {
    vertical-align: middle;
    font-size: 18px;
}

.sidebar ul.nav.nav-sidebar li i {
    font-size: 16px;
    color: #fff;
    width: 1.1em;
    margin-right: 0.5em;
    text-align: center;
    vertical-align: middle;
}
.sidebar ul.nav.nav-sidebar li.nav-parent {
    position: relative;
}
.sidebar ul.nav.nav-sidebar li.nav-parent > a {
    cursor: pointer;
}
.sidebar ul.nav.nav-sidebar li.nav-parent > a:after {
    font-family: 'FontAwesome';
    color: #00ffff;
    content: '\f107';
    padding: 0 42px 10px 0;
    margin-top: -12px;
    font-size: 16px;
    position: absolute;
    right: 0;
    top:50%;
}

.sidebar ul.nav.nav-sidebar li.nav-parent.opened > a:after {
    content: '\f106';
    color: #56678a;
}

.sidebar ul.nav.nav-sidebar li .nav-children li a {
    padding: 9px 15px 9px 68px;
    display: block;
    text-decoration: none;
}

.sidebar ul.nav.nav-sidebar li li.active > a {
    color: #fff;
    background-color: #56678a;
}
.sidebar ul.nav.nav-sidebar li ul {
    display: none;
}
.sidebar ul.nav.nav-sidebar>li>ul {
    display: none;
}
.sidebar ul.nav.nav-sidebar>li>ul>li>a {
    padding: 12px 15px 12px 58px;
}

.sidebar ul.nav.nav-sidebar li ul li ul li a  {
    display: block;
    padding:10px 5px 10px 86px;
    text-decoration: none;
}
/* 左侧导航 end
=================================================================== */

/*内容盒子*/
.main{
    margin:30px auto 0;
    width: 98%;
}
.main:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
}
div:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
}
/*内容盒子 end*/

/*半透明盒子*/
.shadow-boxs {
    margin-bottom: 30px;
    color: #1a1a1a;
    background-color: #f5f7fa;
    border: 1px solid #999999;
    overflow: hidden;
}
/*半透明盒子 end*/

/*省级三级联动*/
.form-control-col {
    width: 30%;
    display: inline-block;
    margin: 0 !important;
}
.form-control {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
/*面包屑导航*/
.breadcrumb{
  width: 100%;
  position: fixed;
  left: 0;
  top:130px;
  z-index: 1000;
  font-size: 16px;
  line-height: 35px;
  height: 35px;
    padding: 0 0 0 50px;
    margin-bottom: 30px;
    background-color: #fff;
  border-bottom: 1px solid #b8b8b8;
  border-radius: 0px;
  overflow: hidden;
  -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.3);
}
.breadcrumb li:nth-child(1):before{
  display: inline-block;
  margin-right: 45px;
  margin-left: 5px;
  width: 21px;
  height: 35px;
  padding: 0 5px;
  content: "";
  background: url("../img/home-icon.png") no-repeat center;
  vertical-align: top;
}
.breadcrumb li:nth-child(1):after{
  position: absolute;
  display: inline-block;
  left: 85px;
  top: 0;
  width: 21px;
  height: 35px;
  padding: 0 5px;
  content: "";
  background: url("../img/bread-arrow.png") no-repeat center;
  vertical-align: top;
}
.breadcrumb>li+li:before {
  display: inline-block;
  margin-right: 15px;
  margin-left: 5px;
  width: 21px;
  height: 35px;
  padding: 0 5px;
  content: "";
  background: url("../img/bread-arrow.png") no-repeat center;
  vertical-align: top;
}

.breadcrumb a{
  display: inline-block;
  color: #b0b0b0;
}
.breadcrumb a:hover{
  color: #48b6d9;
}
.jsh-bread{
    padding-left: 50px;
}
.jsh-active{
    color: #5A98DE !important;
}

/*高德地图*/
 .amap-default > div {
   border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0px!important;
}
 .amap-default .amap-maps {
  padding: 0px!important;
}
