/*lsh 公共 css*/

/*base.css*/
@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei;
}
/*各浏览器显示不同，去掉蓝色边框*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}
ul, ol {
    list-style: none;
}
/*统一组合框的默认样式*/
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "Microsoft YaHei" , "SimSun";
}
select, input, button {
    vertical-align: middle;
}
select, input, textarea {
    font-size: 14px;
    margin: 0;
}
/*防止拖动 影响布局*/
textarea {
    resize: none;
}
/*去掉行内替换元素空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
}
table {
    border-collapse: collapse;
}
body {
    font: 15px/150%  "Microsoft YaHei", Arial, Verdana, "\5b8b\4f53"; /*宋体 unicode */
    color: #333;
    background: #fff;
}
/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1; /*IE/7/6*/
}
/*a标签 颜色 */
a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
a:visited {
    color: #000;
    text-decoration: none;
}
a:hover,a:focus {
    color: #000;
    text-decoration: none;
}
a:active {
    color: #000;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}
s, i, em {
    font-style: normal;
    text-decoration: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.table thead tr {
    background: transparent;
}
.table>tbody>tr>td a:hover{
    text-decoration: underline;
    color: #d43f3a;
}
/*公共类 end*/
/*public.css------------------*/
html,body{
    width: 100%;
    height: 92%;
    background-color: #d9d9d9;
}
body{
    min-width: 1200px;
}
.d-wrap{
    height: 100%;
}
.d-main{
    height: 104%;
}
/***左侧主体***/
.d-main-left{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    background-color: #f8f8f8;
    z-index: 10;
}
/*左侧通栏边框*/
.r-lineShow{
    position: absolute;
    top: 0;
    width: 12px;
    height: 920px;
    border-left: 1px solid #6b6b6b;
    box-shadow:11px 0px 3px -1px #6b6b6b inset;
    -webkit-box-shadow:11px 0px 3px -1px #6b6b6b inset;
    -moz-box-shadow:11px 0px 3px -1px #6b6b6b inset;
    z-index: 3;
}
.d-main-left .logo{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

/*左侧导航栏*/
.left-menu-nav{
    position: relative;
}
.left-menu-nav>ul>li{
    border-bottom: 1px solid #ccc;
}

.d-main-left ul li.border-02{
    border-left: 1px solid #b8b8b8;
    box-shadow:11px 0px 3px -1px #b8b8b8 inset;
    -webkit-box-shadow:11px 0px 3px -1px #b8b8b8 inset;
    -moz-box-shadow:11px 0px 3px -1px #b8b8b8 inset;
    transition: all 0.1s;
    background-color: #e7e7e7;
}
.d-main-left ul li a:hover{
    box-shadow: 0px 0px 8px 0px  #6b6b6b;
    -webkit-box-shadow: 0px 0px 8px 0px  #6b6b6b;
    -moz-box-shadow: 0px 0px 0px 8px  #6b6b6b;
    z-index: 2;
}
.left-menu-nav>ul{
    height: 820px;
    box-shadow: 1px 0 10px 0 ;
    -webkit-box-shadow: 1px 0 10px 0 ;
    -moz-box-shadow: 1px 0 10px 0 ;
}
.left-menu-nav li{
    position: relative;
    line-height: 60px;
}
.icons-1{
    background: url("../img/menuicon-1.png") no-repeat 60px 24px;
}
.icons-2{
    background: url("../img/menuicon-2.png") no-repeat 60px 24px;
}
.icons-3{
    background: url("../img/menuicon-3.png") no-repeat 60px 24px;
}
.icons-4{
    background: url("../img/menuicon-4.png") no-repeat 60px 24px;
}
.icons-5{
    background: url("../img/menuicon-5.png") no-repeat 60px 24px;
}
.icons-6{
    background: url("../img/menuicon-6.png") no-repeat 60px 24px;
}
.left-menu-nav li a{
    position: relative;
    display: block;
    padding-left: 60px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 700;
}
/*一级菜单*/
.left-menu-nav .menu-01{
    position: relative;
}
.left-menu-nav>ul>li>a, .left-menu-nav .menu-01>a{

    padding-left: 100px;
}
/*二级菜单*/
.left-menu-nav .menu-02{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 250px;
}
.left-menu-nav .menu-02 li{
    background-color: #e7e7e7;
}
.left-menu-nav .menu-02 a{
    margin-left: 0px;
    width: 100%;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
/*三级菜单*/
.left-menu-nav .menu-03{
    display: none;
    position: absolute;
    top: 0;
    left: 99%;
    width: 250px;
    max-height: 405px;
    overflow: auto;
}
.left-menu-nav .menu-02 li{
    background-color: #e3e3e3;
}
.left-menu-nav .menu-03 a{
    margin-left: 0px;
    width: 100%;
}
.left-menu-nav .set-bottom{
    position: absolute;
    bottom: 0px;
    top:auto;
}
/**其他**/
/*订单数量图标*/
.d-main-left li .num{
    position: absolute;
    top: 20px;
    left: 200px;
    width: 38px;
    height: 20px;
    line-height: 8px;
    border-radius: 10px;
    padding:6px 12px;
    background-color: #c9201e;
    color: #fff;
}
/*小箭头*/
.d-main-left .icon{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top:16px;
    right: 36px;
    background: url("../img/menu_down.png") no-repeat;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
.d-main-left .menu-02 .icon{
    width: 0;
}
/*** 右侧主体 ***/
.d-main-right{
    width:100%;
    background-color: #d9d9d9;
    padding-bottom: 26px;
    margin-top: 76px;
}
/** top **/
.r-top{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #f3f3f3;
    z-index: 4;
}
/*顶部导航样式===new，默认【隐藏】*/
.top-nav{
    display: none;
    height: 60px;
    padding-left: 380px;
    padding-right: 48px;
    background-color: #fff;
    -moz-box-shadow:0px -3px 10px #999 inset;
    -webkit-box-shadow:0px -3px 10px #999 inset;
    box-shadow:0px -3px 10px #999 inset;
}
.top-nav>ul>li{
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 6px;
}
/*二级悬浮框位置*/
.my-dropdown-menu{
    /*导航悬浮框 样式*/
    min-width: 400px;
    top:58px;
    left: -126%;
    -moz-box-shadow:0px 0px 5px #999;
    -webkit-box-shadow:0px 0px 5px #999;
    box-shadow:0px 0px 5px #999;

}
.my-dropdown-menu>li>a{
    padding: 0px;
}
.dropdown-r{
    left: -220%;
}
/*顶部箭头*/
.dropdown-menu::before{
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
/*覆盖默认*/
.my-nav>li>a:focus, .my-nav>li>a:hover{
    background-color: red;
    color: #fff;
}
.my-nav .open>a, .my-nav .open>a:focus, .my-nav .open>a:hover{
    background-color: red;
    color: #fff;
}
.r-top-icon p{
    padding-left: 35px;
    line-height: 38px;
    background: url("../img/user.png") no-repeat 9px 9px;
}
.r-top-icon a{
    line-height: 38px;
    padding-left: 30px;
}
.r-top-icon a:nth-child(1){
    padding-right: 8px;
}
.r-top-icon a img{
    width: 20px;
    height: 20px;
}
/**nav**/
.r-nav{
    position: fixed;
    top: 38px;
    left:300px;
    height: 38px;
    width: 100%;
    background-color: #c7c7c7;
    z-index: 4;
    box-shadow: 0 0px 10px #c2c1c1;
}
.r-nav li{
    position: absolute;
    left: 0px;
    width: 160px;
    height: 38px;
    background: url("../img/bread-off.png") no-repeat;
    text-align: center;
    z-index: 3;
}
.r-nav li:nth-child(2){
    left:143px;
    z-index: 2;
}
.r-nav li:nth-child(3){
    left: 285px;
    z-index: 1;
}
.r-nav li:nth-child(4){
    left: 427px;
    z-index: 0;
}
.r-nav li a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height:38px;
    font-weight: 900;
    color: #333;
}
.r-nav li:nth-child(1) a{
    padding-left: 0px;
}
/*选中添加类名 .nav-selected*/
.r-nav li.nav-selected{
    background: url("../img/bread-on.png") no-repeat;
}
/*** 主体 end***/
/*** 底部 ***/
.footer{
    position: fixed;
    bottom:0;
    width: 100%;
    height: 57px;
    line-height: 57px;
    text-align: center;
    background-color: #2b2b2b;
    border-top: 4px solid #383838;
    color: #fff;
    z-index: 10;
}
/*宽度小于1366时 左侧导航消失*/
@media screen and (max-width: 1343px) {
    .d-main-right{
        padding-left: 0px;
        margin-top: 28px;
    }
    .r-nav{
        left:250px;
    }
    .r-lineShow{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .d-main-left .logo{
        padding-left: 0;
    }
    .d-main-left{
        width: 250px;
    }
    .left-menu-nav{
        display: none;
    }
    .r-top-icon p{
        line-height: 60px;
        background: url("../img/user.png") no-repeat 9px 20px;
    }
    .r-top-icon a{
        line-height: 60px;
    }
    /*顶部导航显示*/
    .top-nav{
        display: block;
    }
    .r-nav{
        top: 60px;
    }
    .r-top{
        z-index: 9;
    }
}
/*高度小于900 时*底部变低*/
@media screen and (max-height: 900px) {
    .footer{
        height: 40px;
        line-height: 40px;
    }
}
/*==============================================================公共  end*/

/*orderlist.css-------------*/
/**news-top**/
.news-top{
    position: relative;
    height: 64px;
    padding-left: 46px;
    padding-right: 48px;

}
.news-top h3{
    line-height: 64px;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.news-top span{
    position: absolute;
    width: 27px;
    height: 27px;
    top: 19px;
    right: 48px;
}
.news-top span.correct{
    background: url("../img/correct.png") no-repeat;
    right: 94px;
}
.news-top span.delete{
    background: url("../img/delete.png") no-repeat;
}
/**news-content**/
.news-content{
    padding-left: 46px;
    padding-right: 48px;
    margin-bottom: 60px;
    border-radius:5px;
}
/**表格阴影**/
.news-content .table-show{
    position: relative;
    margin-top: 3px;
    border-radius:5px;
    -webkit-box-shadow: 0 2px 3px 0 ;
    -moz-box-shadow: 0 2px 3px 0 ;
    box-shadow: 0 2px 3px 0 ;
    padding: 0px 20px 0px 20px;
    background-color: #fbfbfb;
}
.news-content .r-table-top{
    position: absolute;
    top: 0;
    left: 0px;
    background-color: #3d3d3d;
    width: 100%;
    height: 30px;
}
.news-content .r-table-top2{
    height: 46px;
}
/*去除默认padding margin*/
.news-content .table{
    position: relative;
    z-index: 2;
    margin-bottom: 0;
}
.table>thead>tr>th{
    padding: 0px;
    border-bottom-width: 0px;
}
.table>tbody>tr>td{
    padding: 0px;
}
.news-content thead th{
    background-color: #3d3d3d;
    height: 30px;
    line-height: 30px;
    font-family: "Microsoft YaHei";
    font-size: 15px;
    color: #fff;
}
.news-content h5{
    height: 30px;
    line-height: 30px;
    font-weight: 700;
}
.news-content thead th:nth-child(1){
    width: 130px;
    padding-left: 20px;
    line-height: 30px;
}
.news-content thead th:nth-child(3){
    text-align: right;
    padding-right: 48px;
    line-height:30px;
}
/*tbody*/
.news-content tbody tr{
    height:52px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fbfbfb;
    font-family: "Microsoft YaHei";
    font-size: 15px;
}
.news-content td:nth-child(1){
    position: relative;
    height:52px;
    line-height: 52px;
    width: 130px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
}
.news-content td:nth-child(2){
    height:52px;
    line-height: 52px;
}
.news-content td:nth-child(2) h5{
    line-height: 52px;
}
.news-content td:nth-child(2) span{
    margin-left: 21px;
    margin-right: 18px;
}
.news-content td:nth-child(3){
    height:52px;
    line-height: 52px;
    text-align: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 33px;
}
/*信封*/
.news-content .letter{
    position: absolute;
    top: 24px;
    left: 55px;
    display: block;
    width: 16px;
    height: 12px;
    background: url("../img/envelope_close.png") no-repeat;
}
/* ordertable.css -----------------------------------*/
/**news-table**/
.news-table{
    padding-left: 46px;
    padding-right: 48px;
    margin-bottom: 60px;
    border-radius:5px;
}
.news-table .table-show{
    position: relative;
    margin-top: 3px;
    border-radius:5px;
    -webkit-box-shadow: 0 2px 3px 0 ;
    -moz-box-shadow: 0 2px 3px 0 ;
    box-shadow: 0 2px 3px 0 ;
    padding: 0px 20px 0px 20px;
    background-color: #fff;
}
.news-table .r-table-top{
    position: absolute;
    top: 0;
    left: 0px;
    background-color: #3d3d3d;
    width: 100%;
    height: 30px;
}
.news-table .r-table-top2{
    height: 36px;
}
.news-table .table{
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}
.table>thead>tr>th{
    padding: 0px;
    border-bottom-width: 0px;
}
.table>tbody>tr>td{
    padding: 0px;
}
.table>thead>tr>th {
    vertical-align: middle;
}
.table>tbody>tr>td {
    vertical-align: middle;
}
.news-table thead th{
    height: 30px;
    font-family: "Microsoft YaHei";
    font-size: 15px;
    color: #fff;
    text-align: center;
    overflow: hidden;
}
.news-table input[type="checkbox"]{
    margin-left: 20px;
    margin-bottom: 4px;
}
.news-table tbody tr{
    height:52px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 15px;
}
.news-table tbody td{
    height:52px;
    text-align: center;
}
/** page 分页插件**/
.pagination>li>a{
    color: #898989;
}
.pagination>li>.page-l{
    background-color: #c9201e;
    color: #efe4e4;
}
.pagination>li>.page-r{
    background-color: #c9201e;
    color: #efe4e4;
}
/***end***/
/*order-breedMaintenance.css----------------*/
.d-main-right{
    height: 100%;
}
input[type="text"]{
    color: #000;
}
/*选中框变红*/
input[type="text"]:focus {
    border-color: red;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,0,0,.075),0 0 8px rgba(255,175,233,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(255,0,0,.075),0 0 8px rgba(255,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(255,0,0,.075),0 0 8px rgba(255,175,233,.6);
}
/**news-top**/
.news-top span.save{
    background: url("../img/save.png") no-repeat;
    right: 94px;
}
.news-top span.return{
    background: url("../img/return.png") no-repeat;
}

/*breed*/
.r-breed{
    position: relative;
    width: 100%;
    height: 700px;
}
.breed-left{
    position: absolute;
    top: 0;
    left: 46px;
    width: 248px;
    height: 100%;
    background-color: #fff;
    margin-right: 20px;
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 3px #c2c2c2;
    -webkit-box-shadow: 0 3px 3px #c2c2c2;
    -moz-box-shadow: 0 3px 3px #c2c2c2;
    box-shadow: 0 3px 3px #c2c2c2;
}
.breed-right{
    position: absolute;
    top: 0;
    left: 310px;
    width: calc(100% - 366px);
    width: -webkit-calc(100% - 366px);
    width: -moz-calc(100% - 366px);
    height: 100%;
    margin-right: 48px;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 3px 3px #c2c2c2;
    -webkit-box-shadow: 0 3px 3px #c2c2c2;
    -moz-box-shadow: 0 3px 3px #c2c2c2;
    box-shadow: 0 3px 3px #c2c2c2;
}
.my-row{
    height: 100%;
}
.breed-center-l{
    position: relative;
    height: 100%;
}
.breed-center-l p{
    position: absolute;
    width: 100%;
    top:50%;
    margin-top: -8px;
    font-weight: 600;
    text-align: center;
}
.breed-center-r .form-control{
    margin-top: 10px;

}
/*order-chart.css-------------------------*/
/*news-top*/
.news-top span.add{
    background: url("../img/add.png") no-repeat;
    right: 140px;
}
.news-top span.print{
    background: url("../img/print.png") no-repeat;
    right: 94px;
}
.news-top span.delete{
    background: url("../img/delete.png") no-repeat;
}
/*Echart*/
.news-table .chart{
    position: relative;
    margin-top: 33px;
    margin-bottom: 60px;
    padding: 52px 160px 52px 140px;
    background-color: #fbfbfb;
}
.news-table .chart .parting-line{
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 80%;
    margin-top: 52px;
    border-right: 2px solid #c8c8c8;
}
.news-table #cover-rate{
    width: 50%;
    height:400px;
    float: left;
    padding: 4% 10% 2% 0;
}
.news-table #file-num{
    width: 50%;
    height:400px;
    padding: 4% 0 2% 10%;
    float: left;
}
.news-table #zusechart ,.news-table #zfirmchart {
    width: 100%;
    height:400px;
    padding: 4% 0 2% 10%;
    float: left;
}

@media only screen and (max-width:1680px) {

    .news-table .chart .parting-line {
        display: none;
    }
    .news-table #cover-rate {
        width: 100%;
        !important;
        padding: 4% 0 2% 10%;
    }
    .news-table #file-num {
        width: 100%;
    !important;
    }
    .news-table #zusechart {
        width: 100%;
    !important;
    }
}
/*ordercontnetdetails.css------------------------*/
/*- 执照信息样式 -*/
.contentDetails{
    margin-left: 46px;
    margin-right: 48px;
    padding-bottom: 100px;
    background-color: #fff;
    border-radius: 8px;
}
.contentDetails h4{
    font-size: 16px;
    color: #343434;
    line-height: 80px;
}
.r{
    text-align: right;
}
.form-control{
    height: 28px;
    padding: 3px 12px;
}
#exampleInputFile{
    color: red;
}
#exampleInputFile2{
    color: red;
}
#exampleInputFile3{
    color: red;
}
.timeStyle{
    height: 25px;
    border: 1px solid #d1d1d1;
}
.corporate-name{
    border: none;
    box-shadow: none;
    background-color: #fff;
    font-size: 14px;
}
/*ie 显示灰色背景不是按钮 top微调*/
.contentDetails input[type = "file"]{
    margin-top: 8px;
}
/*orderdetails.css----------------------*/
.article{
    height: 339px;
    background-color: #fff;
    overflow: hidden;
}
.article .publish-title{
    padding-left: 28px;
    height: 42px;
    line-height: 42px;
    color: #333333;
    font-size: 14px;
    font-weight: 700;
}
.article .publish-time{
    padding-left: 28px;
    height: 28px;
    line-height: 28px;
    color: #909090;
    font-size: 15px;
}
.article .publish-line{
    margin: 22px 20px 48px 7px;
    border-bottom: 1px solid #b1b8cc;
}
.article .publish-content{
    text-indent: 2em;
    height: 340px;
    margin: 0 50px;
    line-height: 40px;
    font-size: 14px;
    color: #909090;
}
.article-switch{
    height: 24px;
    margin-top: 21px;
}
.article-switch .switch-l{
    width: 24px;
    height: 24px;
    background: url("../img/page_right.png") no-repeat;
}
.article-switch .switch-r{
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 64px;
    background: url("../img/page_left.png") no-repeat;
}
/***  end ***/
/*ordernoSearchTable.css-----------*/
.table>thead>tr>th{
    padding: 0px;
    border-bottom-width: 0px;
}
.table>tbody>tr>td{
    padding: 0px;
}
.news-content h5{
    line-height: 46px;
    font-weight: 700;
}
/*thead*/
.news-content thead tr th{
    background-color: #3d3d3d;
    height: 46px;
    line-height: 46px;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #fff;
}
.news-content thead tr th:nth-child(1){
    padding-left: 20px;
    padding-bottom: 3px;
}
/*tbody*/
.news-content tbody{
    /*下边线 不顶到头---------------                  不好使*/
    margin: 0 10px;
}
.news-content tbody tr{
    height:46px;
    line-height: 46px;
    background-color: #fbfbfb;
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
.news-content tbody tr td{
    height:46px;
    line-height: 46px;
}
.news-content tbody tr td:nth-child(1){
    padding-left: 20px;
}
.news-content tbody tr td:nth-child(2n){
    padding-top: 3px;
}
/*** end ***/
/* ordertab.css -----------------------------------*/
/* tab栏 new*/
.d-main-right .nav-tabs{
    border-bottom: 3px solid #d9d9d9;
}
.r-tab{
    width: 100%;
    padding-top: 30px;
    background-color: #e2e2e2;
}
/***end***/
/*paging   分页样式---------------------------------*/
.page_div {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    font-family: "microsoft yahei";
    color: #898989;
    margin-right: 10px;
    padding-left: 20px;
    box-sizing: border-box;
}
.page_div a {
    min-width: 30px;
    height: 28px;
    text-align: center;
    margin: 0 4px;
    cursor: pointer;
    line-height: 28px;
    color: #898989;
    font-size: 15px;
    display: inline-block;
}
#firstPage,
#lastPage {
    width: 50px;
    color: #c91f20;
    border: 1px solid #c91f20 ;
}
#prePage,
#nextPage {
    width: 30px;
    color: #fff;
    border: 1px solid #c91f20;
    background-color: #c91f20;
}
.page_div .current {
    color: #cf6265;
}
.totalPages {
    margin: 0 10px;
}
.totalPages span,
.totalSize span {
    color: blue;
    margin: 0 5px;
}
/***end***/

/*search  顶部搜索样式 */
/* search */
.r-search{
    padding-bottom:18px;
    overflow: hidden;
    background-color: #e2e2e2;
}
label{
    margin-bottom: 0;
}
.r-search .form{
    position: relative;
    line-height: 38px;
    margin-top: 18px;
    margin-left: 46px;
    margin-right: 48px;
    border-radius: 5px;
    background-color: #f5f5f5;
    padding-left: 32px;
    box-shadow: 0 1px 3px 0 ;
    -webkit-box-shadow: 0 1px 3px 0 ;
    -moz-box-shadow: 0 1px 3px 0 ;
    overflow: hidden;
}
.r-search .form input[type="text"]{
    height: 23px;
    font-size: 14px;
    color: #000;
}
.r-search .form .search-01{
    width: 90px;
    margin-left: 6px;
    margin-right: 18px;
}
.r-search .form .plantTime{
    width: 110px;
    border-radius: 3px;
    margin-right: 0px;
}
/*搜索框 小箭头*/
.search-right{
    position: absolute;
    top: 6px;
    right: 6px;
    width: 12px;
    height: 12px;
    background: url("../img/search-right.png") no-repeat;
    z-index: 3;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
/*左箭头*/
.ui-datepicker-prev{
    background: url("../img/page_left.png") no-repeat center center;
}
/*右箭头*/
.ui-datepicker-next{
    background: url("../img/page_right.png") no-repeat center center;

}
/*选中状态改成红色*/
.form-control:focus {
    border-color: red;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,0,0,.075),0 0 8px rgba(255,175,233,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(255,0,0,.075),0 0 8px rgba(255,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(255,0,0,.075),0 0 8px rgba(255,175,233,.6);
}
.r-search .form .selectedlist{
    height: 20px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    padding:0;
    padding-left: 40px;
    margin-top: -6px;
    margin-left: -4px;
    background-color: #f5f5f5;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.my-group{
    float: right;
    margin-right: 5px;
}
/*button*/
.r-search .form .btn-reset{
    padding: 0px 18px;
    background-color: #484848;
    color: #fff;
    /*兼容（ie）*/
    width: 70px;

}
.r-search .form .btn-search{
    padding: 0px 18px;
    /*兼容（ie）*/
    width: 70px;
}

.r-search .form .btn-search2{
    padding: 0px 18px;
    /*兼容（ie）*/
    width: 70px;
}
.r-search  .form .btn-my-add{
    padding: 0px 18px;
    /*兼容（ie）*/
    width: 70px;
}
.r-search  .form .btn-reset1{
    padding: 0px 18px;
    /*兼容（ie）*/
    width: 70px;
}
/* 屏幕适配 */
/*屏幕小于1300 ----------------------------------bug*/
@media only screen and (max-width:1300px) {
    .d-main-right #skin{
        top:60px;
    }
}

/*404页--------------*/
/*error 部分*/
.error{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding:32px 46px;
    background-color: #d9d9d9;
}
.error-center{
    position: relative;
    width: 100%;
    height: 100%;
    background:#fff url("../img/404.png") no-repeat 50% 50%;
}
.return-btn{
    position: absolute;
    top: 51%;
    left:55%;
    width: 200px;
    height: 100px;
    color: #fff;
    padding-left: 14px;
    padding-top: 2px;
}
#return-index{
    display: block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    background-color: #ca2020;
    color: #fff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
#return-upper{
    display: block;
    margin-top: 12px;
    width: 160px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ca2020;
    color: #ca2020;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

/*journal.css*/
.r-search .my-select{
    height: 20px;
    line-height: 20px;
    padding: 0;
    font-size: 14px;
    color: #000;
}
.system-table tr td:last-child{
    max-width: 400px;
}
.r-search .form .btn-set{
    position: absolute;
    top: 8px;
    right: 11px;
    padding: 0px 18px;
    background-color: #484848;
    color: #fff;
    width: 70px;
}
.my-radio-inline{
    line-height: 21px;
}
/*Interface*/
.table-from{
    padding-top: 30px;
}
.my-breed-left{
    width: 300px;
}
.news-table .from-small{
    padding-top: 30px;
}
.pt-20 .r-breed .my-breed-right{
    left: 370px;
    width: calc(100% - 400px);
    width: -webkit-calc(100% - 400px);
    width: -moz-calc(100% - 400px);
}

/*modal--------------------------*/
.modal-lg {
    min-width: 1200px;
}

/*模态框组件*/
.modal-content{
    top:100px;
    width: 100%;
    overflow: hidden;
}
/*header*/
.modal-header {
    padding-left: 26px;
    border-bottom: 1px solid #c6c6c6;
    -webkit-box-shadow:0 1px 1px #cecece ;
    -moz-box-shadow: 0 1px 1px #cecece;
    box-shadow: 0 1px 1px #cecece;
    background-color: #d9d9d9;
}
#myModalLabel{
    font-size: 18px;
    color: #000;
}
.myModalLabel{
    font-size: 18px;
    color: #000;
}
.close{
    margin-left: 10px;
    filter: alpha(opacity=60);
    opacity: 0.6;
}
.close:hover{
    filter: alpha(opacity=100);
    opacity: 1;
}
.close span{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 24px;
    border-radius: 50%;
    background-color: #8b8b8b;
    color: #fff;
    font-weight: normal;
}
.close:nth-child(2) span{
    background-color: #575757;
}
.close:nth-child(1) span{
    background-color: #db5959;
}
/*body*/
.modal-body{}
.modal-left{
    border-right: 1px solid #707894;
}
.form-control{
    height: 28px;
    padding: 3px 12px;
}
#exampleInputFile{
    color: red;
}
#exampleInputFile2{
    color: red;
}
#exampleInputFile3{
    color: red;
}
.timeStyle{
    height: 25px;
    border: 1px solid #d1d1d1;
}
.corporate-name{
    border: none;
    box-shadow: none;
    background-color: #fff;
    font-size: 14px;
}
/*footer*/
.modal-footer{
    border: none;
}
/*bug---*/
.my li > ul{
    margin-left: 0;
}

/*换肤*/
#skin {
    display: none;
    position: fixed;
    top:36px;
    right: 74px;
    padding:4px 0;
    width:80px;
    list-style:none;
    border: 1px solid #CCCCCC;
    background:#FFF;
    z-index: 12;
}
#skin li {
    float:left;
    margin:0 5px;
    width:15px;
    height:15px;
    text-indent:-9999px;
    overflow:hidden;
    display:block;
    cursor:pointer;
    background-image:url(../img/theme.gif);
}
/*这是设置图片的位置*/
/*红*/
#skin_0 { background-position:35px 0px; }
/*绿*/
#skin_1 { background-position:95px 0px; }
/*蓝*/
#skin_2 { background-position:55px 0px; }

/*红*/
#skin_0.selected { background-position:35px 15px; }
/*绿*/
#skin_1.selected { background-position:95px 15px; }
/*蓝*/
#skin_2.selected { background-position:55px 15px; }

