.sum {
    padding: 10px;
    font-size: 16px;
    color: #fff;
}
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
.sum img {
    margin-left: 15px;
}
.construction-rate {
    float: right;
    margin-top: -25px;
    font-size: 12px;
}
.con-rate {
    font-size: 30px;
    color: #b36924;
}
/*进度条*/
.m-progress {
    margin-top:40px;
    color: #fff;
}
.m-progress .progress {
    height: 20px;
    /*margin-bottom: 40px;*/
    overflow: hidden;
    background-color: rgba(0,0,0,.075);
    border-radius: 4px;
    padding:0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.btn-default-a {
    color: #fff;
    background-color: rgba(0,0,0,.075);
    border-color: #ccc;
}